<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellolibrary">

    <application>
        <activity
            android:name=".Page3Activity"
            android:exported="false"
            android:label="@string/title_activity_page3"
            android:theme="@style/Theme.OldSupportAndroid.NoActionBar" />
        <activity
            android:name=".new_ui.Page2Activity"
            android:exported="false"
            android:label="@string/title_activity_page2"
            android:theme="@style/Theme.OldSupportAndroid.NoActionBar" />
    </application>

</manifest>